<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danielo.practica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Principal.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Intent.ActivityIntent" />
        <activity android:name=".Intent.ActivityResultadoTelefono" />
        <activity android:name=".SharedPrefernces.SharedPrincipal" />
        <activity android:name=".SharedPrefernces.SharedResultado" />
        <activity android:name=".Sqlite.SqlitePrincipal" />
        <activity android:name=".Sqlite.SqliteProducto" />
        <activity android:name=".Ficheros.Fichero" />
        <activity android:name=".Ficheros.Fichero2" />
        <activity android:name=".Ficheros.FicheroRaw"></activity>
    </application>

</manifest>